<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170271631-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-170271631-1');
    </script>

    <title>Express To Match - Find love anonymously</title>
    <meta name="title" content="Express To Match - Find love anonymously" />
    <meta name="description" content ="Find love using Express To match, anonymously" />
    <meta name="viewport" content="width=821, maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="/public/css/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">

    <header id="header">
        <div class="left-content">
            <a href="/posts">
                <div class="app-logo">
                    <i class="fas fa-link"></i>
                    <span className="app-name">EXPRESS TO MATCH</span>
                </div>
            </a>
        </div>
    </header>

    <section id="content">
        <p>User</p>
        <table border="1" cellspacing="5" cellpadding="5" style="text-align: left;">
            <tr>
                <td>Name</td>
                <td>Email</td>
                <!--<td colspan="2">About</td>-->
                <!--<td>Photo</td>-->
                <td>DOB</td>
                <td>Gender</td>
                <td>Current City</td>
                <td>Home Town</td>
                <td>Mother Tongue</td>
                <td>Caste</td>
                <td>Sub Caste</td>
                <td>Job</td>
                <td>Org</td>
                <td>Verified</td>
            </tr>
            <% for (var i = 0; i < stats.length; i++) { %>
                <tr>
                    <td><%= stats[i].profile.name %></td>
                    <td><%= stats[i].profile.email %></td>
                    <!--<td><%= stats[i].profile.about %></td>-->
                    <!--<td><%= stats[i].profile.photo %></td>-->
                    <td><%= stats[i].profile.dob %></td>
                    <td><%= stats[i].profile.gender %></td>
                    <td><%= stats[i].profile.currentCity %></td>
                    <td><%= stats[i].profile.homeTown %></td>
                    <td><%= stats[i].profile.motherTongue %></td>
                    <td><%= stats[i].profile.caste %></td>
                    <td><%= stats[i].profile.subCaste %></td>
                    <td><%= stats[i].profile.job %></td>
                    <td><%= stats[i].profile.organization %></td>
                    <td><%= stats[i].profile.verified? 'T':'F' %></td>
                </tr>
            <% } %>
        </table>
    </section>

    <div id="footer">
        <div class="footer-message">
            Copyright @ 2020 Express To Match, India. All rights reserved.
            <a href="/privacy" target="_blank">Privacy Policy</a> and <a href="/terms" target="_blank">Terms of Use</a>
        </div>
    </div>

</div>
</body>
</html>